@font-face {
  font-family: "PT Sans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/web/ptsans.woff") format("woff"), url("../fonts/web/ptsans.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/web/ptsansbold.woff") format("woff"), url("../fonts/web/ptsansbold.woff2") format("woff2");
}

* {
  box-sizing: border-box;
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

fieldset {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }

  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }

  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

.container {
  position: relative;

  height: 100%;
  max-width: 1200px;
  min-width: 768px;

  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}

.header {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  min-height: 56px;
}

.main-nav {
  position: relative;
  top: 0;
  left: 0;
  z-index: 100;

  width: 100%;
  min-height: 56px;

  background-color: #ffffff;

  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
}

.main-nav__list {
  display: block;
  margin: 0 auto;

  list-style: none;
}

.main-nav__item {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  padding-top: 14px;
  padding-bottom: 16px;

  color: #000000;
  text-align: center;
}

.main-nav__item--active {
  color: #766357;
}

.main-nav__link {
  display: inline-block;
  vertical-align: top;

  text-align: center;
  color: inherit;
  text-decoration: none;

  cursor: pointer;

  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main-nav__link:hover {
  color: #a8c9df;
}

.main-nav__link:active {
  color: #cacaca;
}

.main-nav__item--active .main-nav__link:hover {
  color: #604e43;
}

.main-nav__item--active .main-nav__link:active {
  color: #cacaca;
}

.main-nav__item:nth-child(n+2){
  margin-left: -4px;
}

.main-nav__item:nth-child(2){
  margin-right: 20%;
}

.header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1000;

  margin-left: -69px;

  text-align: center;
}

.intro {
  position: relative;
  width: 100%;
  height: 564px;

  background: #5b87ae url("../img/intro_bg.jpg") no-repeat;
  background-position: top center;
}

.intro__heading {
  position: absolute;
  top: 132px;
  left: 50%;
  margin-left: -229px;
}

.intro:after {
  content: "";

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;

  height: 57px;

  background: url("../img/intro_shape.png") no-repeat center bottom;
  background-size: 100% 57px;
}

.features {
  padding-top: 58px;
}

.features__title {
  width: 430px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;

  font-size: 21px;
  font-weight: 700;
  line-height: 1.4;
  text-transform: uppercase;
  text-align: center;
}

.features__subtitle {
  margin-bottom: 50px;

  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
}

.features__box {
  width: 33.33333333%;
  height: 256px;
  float: left;
  padding: 53px 48px;

  text-align: center;
  color: #ffffff;
  overflow: hidden;

  background-color: #81b3d2;
}

.features__name {
  margin-bottom: 25px;
  padding: 0 70px;

  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.features__number {
  position: relative;

  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;

  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.features__number:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -65%;

  display: block;
  width: 8px;
  height: 2px;

  background: #c2d9e8;
}

.features__number:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -65%;

  display: block;
  width: 8px;
  height: 2px;

  background: #c2d9e8;
}

.features__number--black:before {
  content: "";
  position: absolute;
  top: 40%;
  left: -65%;

  display: block;
  width: 8px;
  height: 2px;

  background: #a8a8a8;
}

.features__number--black:after {
  content: "";
  position: absolute;
  top: 40%;
  right: -65%;

  display: block;
  width: 8px;
  height: 2px;

  background: #a8a8a8;
}

.features__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.features__img {
  position: relative;
  width: 66.66666666%;
  float: right;

  overflow: hidden;
}

.features__img img {
  position: absolute;
  top: 50%;

  overflow: hidden;

  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.features__img--right {
  float: right;
  height: 256px;
}

.features__box--right {
  float: right;
}

.features__img--left {
  height: 256px;
  float: left
}

.features__box--living,
.features__box--food,
.features__box--souvenirs {
  float: left;
  width: 33.333333%;
  height: 330px;

  background-color: inherit;
  text-align: center;
}

.features__box--living .features__name,
.features__box--food .features__name,
.features__box--souvenirs .features__name {
  position: relative;

  padding-top: 108px;

  color: #000000;
}

.features__box--living .features__description,
.features__box--food .features__description,
.features__box--souvenirs .features__description {
  color: #333333;
}

.features__box--living .features__name:before,
.features__box--food .features__name:before,
.features__box--souvenirs .features__name:before {
  content: "";

  position: absolute;
  bottom: 48px;
  left: 50%;
  margin-left: -39px;

  display: block;
  width: 80px;
  height: 80px;

  background: url("../img/sprite.png") no-repeat top center;
}

.features__box--living .features__name:before {
  width: 75px;
  height: 72px;
  background-position: -10px -196px;
}

.features__box--food .features__name:before {
  width: 74px;
  height: 70px;
  background-position: -10px -10px;
}

.features__box--souvenirs .features__name:before {
  width: 70px;
  height: 76px;
  background-position: -4px -100px;
}

.features__box--area,
.features__box--road,
.features__box--tourists {
  position: relative;
  z-index: 101;
  padding: 45px 62px;

  background-color: #eeeeee;
}

.features__box--area .features__name,
.features__box--road .features__name,
.features__box--tourists .features__name {
  color: #000000;
}

.features__box--area .features__number,
.features__box--road .features__number,
.features__box--tourists .features__number {
  color: #333333;
}

.features__box--area .features__description,
.features__box--road .features__description,
.features__box--tourists .features__description {
  color: #333333;
}

.booking {
  position: relative;
  z-index: 101;

  padding-top: 55px;
  padding-bottom: 133px;

  background: #ffffff;
  text-align: center;
}

.booking__title {
  margin-bottom: 30px;

  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
}

.booking__subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.booking__button {
  display: block;
  width: 570px;

  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 100;

  padding: 30px 130px;
  margin-left: -285px;

  background-color: #766357;
  border: none;

  font-family: inherit;
  text-transform: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;

  cursor: pointer;

  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.booking__button:hover {
  background: #604e43;
}

.booking__button:focus {
  outline: none;
}

.booking-form {
  position: absolute;
  top: 0;
  left: 50%;

  display: block;
  width: 570px;
  padding: 55px;
  margin-left: -285px;

  overflow: hidden;

  background-color: #ffffff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);

  -webkit-animation-name: slide;
          animation-name: slide;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
}

.no-js .booking-form {
  display: block;
}

.booking-form--hide {
  display: none;
}

.booking-form label {
  font-size: 14px;
  font-weight: 700;
}

.booking-form__checkin,
.booking-form__checkout,
.booking-form__guests {
  position: relative;

  margin-bottom: 30px;
}

.booking-form__checkin-label,
.booking-form__checkout-label {
  display: inline-block;
  vertical-align: top;
  width: 110px;
  padding: 12px 0;
}

.booking-form__checkin-input,
.booking-form__checkout-input {
  display: inline-block;
  vertical-align: top;
  width: 345px;
  padding: 10px 15px;

  line-height: 1.4;
  border: none;
  background: #f2f2f2;

  outline: none;
}

.booking-form__checkin-input,
.booking-form__checkout-input {
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: 143% -460px;
}

.booking-form__checkin-input:hover,
.booking-form__checkout-input:hover {
  border-color: #ebebeb;
  background: #ebebeb;
  background: #ebebeb url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: 143% -544px;

  cursor: pointer;
}

.booking-form__checkin-input:focus,
.booking-form__checkout-input:focus {
  font-family: inherit;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;

  outline: 2px solid #e5e5e5;
  background: #fff;
  background: #ffffff url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: 143% -502px;
}

::-webkit-input-placeholder {
  text-transform: uppercase;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

::-moz-placeholder {
  text-transform: uppercase;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.booking-form__guests {
  width: 100%;
  margin-bottom: 50px;

  text-align: left;
}

.counter {
  display: inline-block;
  vertical-align: top;
}

.counter--adults {
  margin-right: 29px;
}

.counter--children {
  text-align: right;
}

.counter__label {
  display: inline-block;
  vertical-align: top;
  padding: 10px 0;
  margin-right: 45px;
}

.counter__label--children {
  margin-left: 22px;
  margin-right: 33px;
}

.counter__plus,
.counter__minus {
  position: relative;

  display: inline-block;
  vertical-align: top;
  width: 38px;
  height: 38px;
  margin-left: -7px;

  border: none;
  background-color: #f2f2f2;
  color: #a9a9a9;
  background: #f2f2f2 url("../img/sprite.png") no-repeat top center;

  cursor: pointer;
}

.counter__minus {
  background-position: 2px -822px;
}

.counter__plus {
  background-position: 2px -896px;
}

.counter__minus:hover {
  background-position: 2px -868px;
}

.counter__plus:hover {
  background-position: 2px -958px;
}

.counter__minus:focus {
  background-position: 2px -845px;
}

.counter__plus:focus {
  background-position: 2px -927px;
}

.counter__input {
  display: inline-block;
  vertical-align: top;
  width: 38px;
  height: 38px;
  margin-left: -4px;

  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  text-align: center;

  border: none;
  background-color: #f2f2f2;
}

.booking-form__button {
  display: block;
  width: 100%;
  padding: 17px 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;

  border: none;
  background-color: #81b3d2;

  cursor: pointer;

  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.booking-form__button:hover {
  background-color: #669ec0;

  cursor: pointer;
}

.booking-form__button:focus {
  color: #94b9d2;

  background: #5496bd;
  outline: none;
}

.map {
  position: relative;
  width: 100%;

  background: #f2f1ef;
}

.map-img {
  height: 593px;
}

.no-js iframe {
  display: none;
}

.js .map-img {
  display: none;
}

.footer {
  min-height: 125px;
  padding: 35px 6%;

  background-color: #ffffff;
}

.footer--index {
  position: absolute;
  z-index: 100;
  bottom: -2px;
  left: 0;

  width: 100%;

  opacity: 0.9;
}

.hashtag {
  float: left;
  width: 33.3%;
  margin-top: 10px;
  padding-left: 6%;

  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-decoration: none;
  color: #000000;
}

.social {
  float: left;
  width: 33.3%;

  font-size: 0;
  text-align: center;
}

.social__btn {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;

  width: 48px;
  height: 48px;

  text-decoration: none;

  background: #81b3d2 url("../img/sprite.png") no-repeat center;
}

.social__btn:last-child {
  margin-right: 0;
}

.social__btn:hover {
  background-color: #669ec0;
}

.social__btn:focus {
  color: #88b6d1;
}

.social__btn--tw {
  background-position: 6px -1023px;
}

.social__btn--tw:focus {
  background-color: #5496bd;
  background-position: 6px -1058px;
}

.social__btn--fb {
  background-position: 9px -750px;
}

.social__btn--fb:focus {
  background-position: 9px -789px;
}

.social__btn--yt {
  background-position: 4px -1093px;
}

.social__btn--yt:focus {
  background-position: 4px -1129px;
}

.footer__logo {
  float: right;
  width: 33.3%;
  padding-right: 30px;
  margin-top: 5px;

  text-align: right;
}

.footer__logo span {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
  margin-top: 12px;

  font-size: 14px;
  line-height: 1;
  font-weight: 400;
}

.logo {
  display: inline-block;
  vertical-align: top;

  width: 113px;
  height: 39px;

  background: url("../img/sprite.png") no-repeat center;
  background-position: -10px -1181px;
}

.logo:hover {
  background-position: -10px -1299px;
}

.logo:active {
  background-position: -10px -1240px;
}

/*==========================================
============== HOTELS PAGE =================
==========================================*/

.filter {
  width: 100%;
  min-height: 217px;
}

.filter-inputs {
  width: 100%;
  padding-top: 28px;

  color: #ffffff;

  background: #5b87ae url("../img/filter_bg.jpg") no-repeat center 16%;
  background-size: cover;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  position: relative;

  display: block;
  padding-left: 40px;
  margin-bottom: 32px;

  cursor: pointer;
}

input[type="checkbox"] + label:before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;

  width: 25px;
  height: 25px;
  background: url("../img/sprite.png") no-repeat center center;
  background-position: -10px -678px;
}

input[type="checkbox"]:checked + label:before {
  background-position: -10px -594px;
}

input[type="checkbox"]:disabled + label:before {
  background-position: -10px -636px;
}

input[type="checkbox"] + label:last-child {
  margin-bottom: 35px;
}

.amenities {
  float: left;
  width: 26%;
  padding-left: 6%;
  padding-right: 6%;
}

.amenities__legend,
.property__legend {
  display: block;
  margin-bottom: 27px;

  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.amenities__item:last-child,
.property__item:last-child {
  margin-bottom: 0;
}

.property {
  float: left;
  width: 24%;
  padding-left: 1.2%;
}

.filter-range {
  float: right;
  width: 33.3333333%;
  padding-right: 6%;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range__title {
  display: block;
  margin-bottom: 10px;

  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.price-controls {
  position: relative;

  margin-left: 10px;
  width: 97%;
  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background-color: #ffffff;

  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  vertical-align: top;

  font-size: 14px;
  line-height: 14px;
  padding-top: 5px;

  cursor: pointer;
}

.price-controls--min,
.price-controls--max {
  width: 48%;
  padding-left: 33px;

  text-align: center;
}

.price-controls input {
  width: 32%;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
  outline: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
  margin-left: 10px;
}

.range-controls__scale {
  height: 2px;

  background-color: rgba(255, 255, 255, 0.3);
}

.range-controls__bar {
  width: 80%;
  height: 2px;

  background-color: #ffffff;
}

.range-controls__toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);

  box-sizing: content-box;
  cursor: pointer;
}

.range-controls__toggle:hover {
  background: #1c4f80;
}

.range-controls__toggle--min {
  left: 0;
}

.range-controls__toggle--max {
  left: 80%;
}

.filter-range__btn {
  display: block;
  margin: 0 auto;
  padding: 6px 34px;

  font-family: inherit;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 4px;

  cursor: pointer;

  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.filter-range__btn:hover {
  color: #000000;
  background-color: #ffffff;
  cursor: pointer;
}

.sort {
  display: block;
  width: 100%;
  padding: 30px 6%;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  border-bottom: 1px solid #e5e5e5;
}

.sort-found {
  float: left;
  display: block;
  width: 135px;
  margin-right: 2.8%;
}

.sort-list__label {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 3%;

  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
}

.sort-list {
  display: inline-block;
  vertical-align: baseline;
  width: 40%;
  margin: 0;
}


.sort-list__item {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 6.7%;
}

.sort-list__link {
  display: inline-block;
  vertical-align: baseline;

  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #e0e0e0;
  text-decoration: none;

  border-bottom: 1px dotted #81b3d2;

  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sort-list__link:hover {
  color: #81b3d2;
}

.sort-list__link--active {
  color: #81b3d2;
  border: none;
}

.sort-list__link:focus {
  color: #000000;
  border: none;
}

.sort-selector {
  float: right;
  width: 40px;

  text-align: right;
}

.sort-selector__up,
.sort-selector__down {
  position: relative;

  display: inline-block;
  vertical-align: middle;;
  width: 16px;
  height: 16px;

  cursor: pointer;

  background: url("../img/sprite.png") no-repeat top center;
  border: 0;
}

.sort-selector__up {
  background-position: -10px -378px;
}

.sort-selector__down {
  background-position: -10px -288px;
}

.sort-selector__up:hover {
  background-position: -10px -438px;
}

.sort-selector__down:hover {
  background-position: -10px -348px;
}

.sort-selector__up:focus {
  background-position: -10px -408px;
}

.sort-selector__down:focus {
  background-position: -10px -318px;
}

.sort-selector__up--active {
  background-position: -10px -408px;
}

.sort-selector__down--active {
  background-position: -10px -318px;
}

.result {
  padding: 30px 6%;
  width: 100%;
  min-height: 150px;

  border-bottom: 1px solid #e5e5e5;
}

.hotel-img {
  float: left;
  display: inline-block;
  vertical-align: top;
  width: 135px;
  height: 90px;
  margin-right: 3%;
}

.hotel-description {
  float: left;
  width: 60%;
}

.hotel-name {
  display: block;
  width: 100%;
  margin-bottom: 15px;

  font-size: 21px;
  line-height: 16px;
  font-weight: 700;
  color: #000000;
}

.hotel-name__link {
  text-decoration: none;
  color: #000000;

  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hotel-name__link:hover {
  color: #81b3d2;
}

.hotel-name__link:active {
  color: #e1e1e1;
}

.hotel-type-price {
  position: relative;

  margin-bottom: 18px;
}

.hotel-type,
.hotel-price {
  display: inline-block;
  vertical-align: top;

  font-size: 14px;
  line-height: 14px;
}

.hotel-price {
  position: absolute;
  left: 116px;

}

.hotel-rating {
  float: right;
  display: block;

  text-align: right;
}

.hotel-rating__stars {
  margin-bottom: 45px;
}

.star {
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;

  background: url("../img/sprite.png") no-repeat top center;
  background-position: -10px -1002px;
}

.hotel-rating__badge {
  display: inline-block;
  vertical-align: middle;
  padding: 4px 14px;

  color: #666666;
  font-size: 14px;
  line-height: 16px;

  background-color: #f2f2f2;
}

.more-btn, .book-btn {
  display: inline-block;
  vertical-align: top;
  padding: 7px 17px;

  font-size: 1em;
  line-height: 14px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;

  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.more-btn:visited,
.book-btn:visited {
  color: #ffffff;
}

.more-btn:hover {
  background-color: #669ec0;
}

.more-btn:focus {
  color: #85b0cd;

  background-color: #5496bd;
}

.book-btn:hover {
  background-color: #604e43;
}

.book-btn:focus {
  color: #928a85;

  background-color: #503e33;
}

.more-btn {
  background-color: #81b3d2;
}

.book-btn {
  background-color: #766357;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .features__box {
    padding: 45px 0 35px 0;
  }

  .features__name {
    padding: 0 48px;
  }

  .features__description {
    padding: 0 40px;
  }

  .price-controls {
    width: 100%;
    margin-left: 0;
  }

  .price-controls input {
    width: 40%;
  }

  .price-controls--min,
  .price-controls--max {
    padding-left: 20px;
  }

  .hashtag {
    padding-left: 0;
  }

  .footer__logo {
    padding: 0;
  }
}
